@import 'tailwindcss' theme(static);
@import '@nuxt/ui';
@plugin "@tailwindcss/typography";

@theme static {
  --font-sans: 'Geist Variable', system-ui, sans-serif;
  --font-mono: 'Geist Mono Variable', ui-monospace, 'Cascadia Code', monospace;

  /* koinon brand — yellow */
  --color-brand-50: #fefce8;
  --color-brand-100: #fef9c3;
  --color-brand-200: #fef08a;
  --color-brand-300: #fde047;
  --color-brand-400: #facc15;
  --color-brand-500: #eab308;
  --color-brand-600: #ca8a04;
  --color-brand-700: #a16207;
  --color-brand-800: #854d0e;
  --color-brand-900: #713f12;
  --color-brand-950: #422006;
}

:root {
  --ui-radius: 0.5rem;
}
